/* #7D7764    #FFFFFF   #DD4D4D   #71D18E  */


*{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    scroll-behavior: smooth;
}

:root{

    --main-color: #ffff;
}

body{
    margin: 0;
    background-color:#181616;
}

.menu{
    position: fixed;
    height: 18vh;
    width: 100%;
    display: flex; 
    transition: all 0.5 ease;  
    justify-content: center;
    
 
}

.navi{
    
    display: flex;
    width:80%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-around;
   
       
}

.navi a {
   
    text-decoration: none;
    font-style: none;
    justify-content: space-around;
    justify-items: flex-end;
    color: white;
    background-color:transparent ;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 20px;
     
}

.logo img {

    height: 90%;
    width: 105%;
}

.btt1 {
    
    border: none;
    background-color:transparent;   

}

.btt1 :hover{   
    color: #DD4D4D;
    border-bottom: 1px solid white;
    
}

img {
     
    width:10%;
    height: 100%;

}

.hero {

    width: 63%;
    display: flex;
    justify-content: center;
    align-items: center;


}
main{
    height: 110vh;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

section{
    height: 100vh;
    background-color:#181616;
}

.menu.active {
    background-color:#181616;
    
}.menu.active button{
    background-color: transparent;
}

.serch input{

    border-radius: 20px;
    border: 1px black;
    text-align: center;
    height: 26px;
    width:0px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    margin: 25px;
    transition: all ease 0.8s;
     
}

.serch{
    display: flex;
    align-items: center;
    
}

.lupa{
    cursor: pointer;
    background-color: #DD4D4D ;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    display: grid;
    place-items: center;
    color: white;
    position: fixed;
    
}
    
.serch:hover input{
    width: 200px;
    
}

.serch input:focus{
    
    width: 200px;
}
    

.flecha{
    display: grid;
    place-items: center;
    top: 95vh;
    position: relative;
    font-size: 30;
    color: white;
    text-decoration: 0;
    
}

#SobreNosotros{

    height: 200vh;
    background-color:#181616;
    animation: colors 18s ease infinite;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
    
}

.clave {
    color: #DD4D4D;

}
.clave1 {
    color: #71D18E;
}

#Contacto{
    width: 100%;
    height: 60vh;
    background-color:#181616;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.contenedorContacto {
    width: 63%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{

    background-color:#181616;
    height: 150px;
    display: flex;
    justify-content: center;

}

footer div {

    display: flex;
    justify-content: center;
    text-align: center;

}

footer p {
    color: white;
    font-weight: 500;
}

.contenedorFooter img {
    width: 150px;
}

.info{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 40%;
    height: 50%;
    margin-left: 30px;
    border-bottom: solid 1px white;
    border-top: solid 1px white;
}

.data{
    color: #f5f5f5f8;
    font-weight: 500;
    font-family: 'Rajdhani', sans-serif;
    font-size: 3em;
    background-color: none;
    margin: 10px;
    cursor: pointer;
    
}

.ventajas1 {

    height: 20%;
    width: 63%;
    background-color: #3030307a;
    border:0 4px white solid;
    margin: 80px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.ventajasContenedor {

    width: 25%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0);
    color:#ffffff;
    border-radius: 50PX;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.vc {
    width: 100%;
    height: 40%;
    font-size: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #181616;
    
}

.text p{

    text-align:center;
    width: 100%;
    height: 80%;
    font-weight: 200;
    font-size: 1.1em;
    
}

.vc:hover {
    color: #71D18E;
    cursor: pointer;
}


.ventajas2 {

    height: 20%;
    width: 63%;
    background-color: #3030307a;
    margin: 80px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;

}

.numbers {
    display: flex;
}

.containVentajas2{
    display: flex;
    justify-content: space-between;
}

.ventajas2 i {
    
    border-radius:300px;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#181616;
    color:#3030307a;
    font-size: 100px;
    cursor: pointer;
    margin: 0 110px;
}

.ventajas2 i:hover {
    color: #DD4D4D;
}


.containVentajas2 p {
    
    font-weight: 200;
    margin: 0 40px;
    text-align:center;
    width: 300px;
   
}

.info1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 50%; 
    cursor: pointer;

}


.data1{
    color: #ffffffc4;
    font-weight: 500;
    font-family: 'Rajdhani', sans-serif;
    font-size: 3em;
    background-color: #ffffff18;
    margin: 10px;
    padding: 0;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 300%;
    transition: background-position 2s ease-out;
    background-image: linear-gradient(to left,#3d3c3c, #3b3a3a, #a12b33, #861d24);
    box-sizing: border-box;
}

.data1:hover {

    background-position: left;
}

.data2{
    color: #ffffffc4;
    font-weight: 500;
    font-family: 'Rajdhani', sans-serif;
    font-size: 3em;
    margin: 0;
    box-sizing: border-box;

}

.dataP {

    color: #ffffffc4;
    font-weight: 500;
    font-family: 'Rajdhani', sans-serif;
    font-size: 3.8em;
    background-color: #ffffff18;
    margin: 10px;
    text-shadow: #a7a7a700 2px;
    padding: 0;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 300%;
    transition: background-position 2s ease-out;
    background-image: linear-gradient(to left,#3d3c3c, #3b3a3a, #a12b33, #861d24);

}

.dataP:hover {

    background-position: left;
}

.a:hover {
    
    color: #DD4D4D;
}

.b:hover {
    color: khaki;
    
}

.c:hover {
    color: #71D18E;
}               

.vv:hover {
    color: #71D18E;
    transition: 1.3s;

}

.ClienteFeliz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63%;
    height: 10%;
    margin-top: 200px;

}

.ClienteFeliz h3 {
    font-size: 2em;
    color: #71D18E;
    font-weight: 700;
}

#Clientes{
    
    background-color:#181616;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}

.Ustedes{

    background-color:#181616;
    width: 63%;
    height: 80%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 150px;

}

.Ustedes div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    background-color:#3b3a3a6b;
    height: 50%;
    width: 40%;
}

.infos {

    background-color: transparent;
    color: #413f3fe3;
    font-size: 1.6em;
    border: none;
    margin: 20px;
    
}

.infos a{
  
    text-decoration: none;
    font-style: none;
    border: none;
    padding: 0 140px;
    color: var(--main-color);
    background-color:#ffffff18;
}

.infos a:hover {
    color: #DD4D4D;
}

.contenedorFooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid white;
    width: 63%;

}

.contenedorFooter p:hover {
    color: #DD4D4D;
}


.redes {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    height: 100%;
    width: 50%;
}

.redes p {
    color: white;
    font-weight: 700;
    font-size: 1.2em;
}

.subred {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    margin-bottom: 50px;
}
.contact {
    color: #71D18E;
    font-weight: 900;
    font-size: 1.1em;
}
.subred i {
    padding-right: 20px;
}

.refLogos {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.refLogos i {
    color: white;
    padding: 40px;
    font-size: 40px;
    cursor: pointer;
}

.refLogos i:hover {
    color: #DD4D4D;
}

.form {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 50%;
    height: 100%;
}


.formulario {
    height: 83%;
    width: 95%;
    background-color: #181616;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    
}

.formulario input {
    width: 500px;
    height: 40px;
    font-size: 1em;
    font-weight: 200;
    color: white;
    padding-left: 8px;
    background-color: #181616;
    border: none;
    border-bottom:#ffffff solid 2px;
    font-style: none;
    text-decoration: none;
    text-decoration-line: none;
    outline: none;
}
.formulario label {
    margin: 5px;
    color: #71D18E;
    font-weight: 900;
    font-size: 1.2em;
}

.formulario textarea {
    background-color: #181616;
    border:#ffffff solid 1px;
    color: white;
    font-size: 1em;
    outline: none;
    font-weight: 200;
}

.enviar:hover {
    color: #DD4D4D;
}

.formulario button {
    width: 500px;
    height: 40px;
   background-color: #71D18E;
   color: white;
   cursor: pointer;
   outline: none;
   border: none;
   font-size: 1.1em;
   font-weight: 700;
}

.formulario button:hover {

    background-color:  #DD4D4D;
}