/* #7D7764    #FFFFFF   #DD4D4D   #71D18E  */


*{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color:#303030;
    
}

.menu{
    position: fixed;
    height: 18%;
    width: 100%;
    display: flex; 
    transition: all 0.5 ease;  
  
}

.navi{
    
    display: flex;
    width:100%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-end;  
    padding-right: 100px;  
    
    
}

.navi a {
   
    text-decoration: none;
    font-style: none;
    justify-content: space-around;
    justify-items: flex-end;
    color: white;
    background-color:#303030 ;
    text-transform: uppercase;
    font-size: medium;
    padding: 20px;
     
}

button{
    
    border: none;
    background-color: #303030;   

}

button :hover{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 9px;
    color: #DD4D4D;
    transition: 1.5s;
    
}

img {
     
    width:10%;
    height: 100%;

}

main{
    height: 100%;
}

section{
    height: 100vh;
    background-color:#303030;
}

.menu.active a{
    background-color: transparent;
    
}.menu.active button{
    background-color: transparent;
}

.serch input{

    border-radius: 20px;
    border: 1px black;
    text-align: center;
    height: 26px;
    width:0px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    margin: 25px;
    transition: all ease 0.8s;
    
    
}

.serch{
    display: flex;
    align-items: center;
    
}

.lupa{
    cursor: pointer;
    background-color: #DD4D4D ;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    text-align: center;
    display: grid;
    place-items: center;
    color: white;
    position: fixed;
    
    
    
}
    
.serch:hover input{
    width: 200px;
    
}

.serch input:focus{
    
    width: 200px;
    
}
    


.flecha{
    display: grid;
    place-items: center;
    top: 95vh;
    position: relative;
    font-size: 30;
    color: white;
    text-decoration: 0;
    
    

}

#Sucursales{
    background-color: #363636;

}

#SobreNosotros{
    background-color: #303030;

}

#Contacto{
    background-color: #363636;
}

footer{

    background-color: #303030;
    height: 100px;

}

#Productos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 100px;
    height: 70vh;
    width: 90%;

    


}

.card{
    display: flex;
    flex-direction: column;
    background-color: rgba(145, 145, 145, 0.075);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    border: 2px rgba(202, 202, 202, 0.096) solid;
    width: 20%;
    height: 50%;
    margin-bottom: 30px;
    cursor: pointer;

}

.top{
    width: 100%;
    height: 25%;
    border-radius: 20px 20px 0 0;
    display: flex;
    text-align: center;
    text-justify: center;
    

}
.top h3{
    color: rgba(255, 255, 255, 0.863);
    width: 100%;
    padding-top: 15px;
    
}

.top i{
    font-size: 25px;
    background-color:transparent;
    color: rgba(255, 255, 255, 0.863);
    padding: 5px;
}

.top i:hover {
    color: #DD4D4D ;
    transition: 0.8s;
}

.mid{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid img{
   
    width: auto;
}

.pie{
    width: 100%;
    height: 25%;
    background-color: ;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
   

}

.pie i{
    font-size: 25px;
    border: 2px rgba(137, 138, 138, 0.548) solid;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.863);
    
}

.pie p{
    width: 100%;
    height: 70%;
    padding: 0;
    margin: 0;
    margin-left: 25px;
    font-size:20px;
    color: rgba(255, 255, 255, 0.863)

}

.pie i:hover {
    color: #71D18E;
    transition: 0.8s;
}

/*.card:hover {
    -webkit-box-shadow: 0px 0px 300px -61px rgba(148,148,148,1);
    -moz-box-shadow: 0px 0px 300px -61px rgba(148,148,148,1);
    box-shadow: 0px 0px 300px -61px rgba(148,148,148,1);
}*/

.points{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 40%;
    left: 98%;
}



.points i{
    padding-top: 30px;
    color:#71D18E;

}


.submenu{
    position: fixed;
    top: 0;
    left: 96.55%;
    width: 7vh;
    height: 100vh;
    background-color: #3030304f;
}